{$DOMAIN}:443 {
  # Caddy on port 443 in container to vaultwarden private instance 
  # Use it if Caddy exposed to the net 
  # Doc about automatic HTTPS https://caddyserver.com/docs/automatic-https

  # Output logs to stderr so log rotation, etc is handled by docker
  log {
	output stderr
    	level INFO
  }

  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  tls {$EMAIL}

  # Or uncomment this if you're providing your own cert. You would also use this option
  # if you're running behind Cloudflare.
  # tls {$SSL_CERT_PATH} {$SSL_KEY_PATH}

  encode zstd gzip

  # If you want to use FIDO2 WebAuthn, set X-Frame-Options to "SAMEORIGIN" or the Browser will block those requests
  header / {
       # Enable HTTP Strict Transport Security (HSTS)
       Strict-Transport-Security "max-age=31536000;"
       # Disable cross-site filter (XSS)
       X-XSS-Protection "0"
       # Disallow the site to be rendered within a frame (clickjacking protection)
       X-Frame-Options "DENY"
       # Prevent search engines from indexing (optional)
       X-Robots-Tag "noindex, nofollow"
       # Disallow sniffing of X-Content-Type-Options
       X-Content-Type-Options "nosniff"       
       # Server name remove
       -Server
       # Remove X-Powered-By though this shouldn't be an issue, better opsec to remove
       -X-Powered-By
       # Remove Last-Modified because etag is the same and is as effective
       -Last-Modified
  }	
  
  reverse_proxy bitwarden:80 {
       # Send the true remote IP to Rocket, so that vaultwarden can put this in the
       # log, so that fail2ban can ban the correct IP.
       header_up X-Real-IP {remote_host}
  }
}
