{$DOMAIN}:443 {
  # Caddy on port 443 in container to vaultwarden private instance 
  # Use it if Caddy exposed to the net 
  # Doc about automatic HTTPS https://caddyserver.com/docs/automatic-https

  log {
	output file {$LOG_FILE} {
        roll_size 50MiB # https://caddyserver.com/docs/caddyfile/directives/log#log
        roll_keep 5 # https://caddyserver.com/docs/caddyfile/directives/log#log
    }
    level INFO
  }

  # Uncomment only one of the 2 lines. Depending if you provide your own cert or request one from Let's Encrypt
  # tls {$SSLCERTIFICATE} {$SSLKEY}
  tls {$EMAIL}

  encode zstd gzip

  header / {
       # Enable HTTP Strict Transport Security (HSTS)
       Strict-Transport-Security "max-age=31536000;"
       # Enable cross-site filter (XSS) and tell browser to block detected attacks
       X-XSS-Protection "1; mode=block"
       # Disallow the site to be rendered within a frame (clickjacking protection)
       X-Frame-Options "DENY"
       # Prevent search engines from indexing (optional)
       X-Robots-Tag "none"
       # Server name remove
       -Server
   }

  # Proxy everything to Rocket
  reverse_proxy bitwarden:80

}
